{% extends "base.html" %}

{% block title %}Art Posters{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h1>Art Posters</h1>
    <div class="row">
        {% for photo in photos %}
        <div class="col-6 col-sm-6 col-md-3 mb-4">
            <div class="card">
                <a href="{{ url_for('photo_details', photo_id=photo.id) }}">
                    <img src="{{ url_for('static', filename=photo['filename']) }}" class="card-img-top" alt="{{ photo['title'] }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ photo['title'] }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}